$gray-light:    #8B95A0; // domain title
$gray-dark:     #22344C; // domain names
$pink:          #D42A58; // category name
$blue-light:    #7EAAD5; // rankings values
$blue-dark:     #272D3A; // sidebar background